<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.*)$ $1.php

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.html -f
    RewriteRule ^(.*)$ $1.html

    RewriteCond %{REQUEST_FILENAME} !favicon.ico

    # Custom 404 Page
    ErrorDocument 404 /3rd_year/spcc-cms/404.php

    # Set Cache-Control Headers
    <FilesMatch "\.(flv|jpg|jpeg|png|gif|js|swf)$">
        Header set Cache-Control "max-age=604800, public"
    </FilesMatch>

    <FilesMatch "\.(css)$">
        Header set Cache-Control "max-age=604800, public, must-revalidate"
    </FilesMatch>

    <FilesMatch "\.(xml|txt)$">
        Header set Cache-Control "max-age=604800, public, must-revalidate"
    </FilesMatch>
</IfModule>